:root {
  --main-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --main-bg-color: #ffffff;
  --bg-color: #f5f4fa;
  --foot-bg-color: #2f303a;
  --transition-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --btn-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

*,
*::after,
::before {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  color: var(--main-color);
  background-color: var(--main-bg-color);
  letter-spacing: 0.03em;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.section__title--visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.logo {
  font-family: Raleway;
  color: var(--main-color);
}

@media screen and (max-width: 1199px) {
  .logo {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}

@media screen and (max-width: 767px) {
  .logo {
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1199px) {
  .logo {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-right: 85px;
  }
}

.logo__web {
  color: var(--accent-color);
}

.menu-toggle {
  display: inline-flex;
  min-width: 40px;
  min-height: 40px;
  fill: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.menu-toggle:hover .menu-icon,
.menu-toggle:focus .menu-icon {
  fill: var(--accent-color);
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-icon {
  fill: var(--main-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  padding: 45px 40px;
  width: 100vw;
  height: 100vh;
  background-color: var(--main-bg-color);
  z-index: 999;
  opacity: 0;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 5px;
  right: 5px;
}

@media screen and (max-width: 767px) {
  .menu-container.is-open {
    transform: translateX(0);
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

.mobile-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.menu__nav {
  margin-bottom: auto;
}

.navigation__item {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}

.navigation__link {
  color: #212121;
  font-style: normal;
}

.navigation__item:hover,
.navigation__item :focus {
  color: #2196f3;
}

.contacts {
  margin-top: auto;
}

.contacts__tel {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}

.contacts__mail {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}

.tel__link {
  color: #2196f3;
}

.mail__link {
  color: #757575;
}

.soc__links {
  display: flex;
  align-items: baseline;
}

.link {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  margin-right: 10px;
}

.link__line::before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
  transform: rotate(0);
}

.btn {
  color: var(--main-bg-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  margin-top: 30px;
  padding: 10px 32px;
  max-height: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .container__flex {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 767px) {
  .container__menu {
    display: flex;
    justify-content: flex-end;
  }
}

.section {
  color: var(--main-color);
}

@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
  }
}

@media screen and (max-width: 1199px) {
  .section--padding-bottom {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .section--padding-bottom {
    padding-bottom: 94px;
  }
}

@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  .nav__flex {
    display: flex;
  }
}

.container--no-padding {
  align-items: center;
}

@media screen and (max-width: 767px) {
  .container--no-padding {
    height: 60px;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  transition: color 250ms var(--transition-bezier);
}

.nav__link:focus, .nav__link:hover {
  color: var(--accent-color);
}

.nav__item {
  position: relative;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__item--active {
  color: var(--accent-color);
}

.nav__item--active::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .head-contact {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .head-contact--margin-right {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .head-contact {
    display: flex;
    align-items: center;
  }
  .head-contact--margin-right {
    margin-right: 30px;
  }
}

.head-contact__link {
  color: var(--text-color);
  transition: color 250ms var(--transition-bezier);
}

.head-contact__link:hover, .head-contact__link:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 1199px) {
  .head-contact__link {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1200px) {
  .head-contact__link {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.head-contact__icon-envelope {
  fill: var(--text-color);
}

.head-contact__icon-envelope--margin-right {
  margin-right: 10px;
}

.head-contact__link:hover .head-contact__icon-envelope,
.head-contact__link:focus .head-contact__icon-envelope {
  fill: var(--accent-color);
}

@media screen and (max-width: 1199px) {
  .head-contact__icon-envelope {
    width: 14px;
    height: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .head-contact__icon-envelope {
    width: 16px;
    height: 12px;
  }
}

.head-contact__icon-mobile {
  width: 10px;
  fill: var(--text-color);
}

.head-contact__icon-mobile--margin-right {
  margin-right: 10px;
}

.head-contact__link:hover .head-contact__icon-mobile,
.head-contact__link:focus .head-contact__icon-mobile {
  fill: var(--accent-color);
}

@media screen and (max-width: 1199px) {
  .head-contact__icon-mobile {
    height: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .head-contact__icon-mobile {
    height: 16px;
  }
}

.hero {
  text-align: center;
}

.hero__overlay {
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #212121;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../pictures/hero-mob.jpg);
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2 / 1), (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: url(../pictures/hero-mob@2x.png);
  }
}

@media screen and (max-width: 767px) {
  .hero__overlay {
    max-width: 480px;
    height: 400px;
  }
}

@media screen and (max-width: 1199px) {
  .hero__overlay {
    max-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../pictures/hero-tablet.jpg);
  }
}

@media screen and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 1199px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: url(../pictures/hero-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero__overlay {
    padding: 200px 0;
    height: 600px;
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../pictures/hero-base.jpg);
  }
}

@media screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: url(../pictures/hero-base@2x.jpg);
  }
}

.hero__title {
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-bg-color);
}

@media screen and (max-width: 1199px) {
  .hero__title {
    max-width: 360px;
    font-size: 26px;
    font-weight: 900;
    line-height: 1.6;
    letter-spacing: 0.06em;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

@media screen and (max-width: 1199px) {
  .hero {
    padding: 118px 0;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
  }
}

@media screen and (min-width: 768px) {
  .card-set {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .card-set__feat-item {
    flex-basis: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1199px) {
  .card-set__feat-item {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.card-set__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .card-set__title {
    text-align: center;
  }
}

.card-set__feat-text {
  margin-top: 15px;
  margin-bottom: 0;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.card-set__feat-item {
  align-items: center;
  justify-content: center;
}

.card-set__feat-item::before {
  content: "";
  height: 120px;
  background-position: center;
  display: block;
  background-color: var(--bg-color);
  margin-bottom: 30px;
  border-radius: 5px;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
  .card-set__feat-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card-set__feat-item:nth-child(odd) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .card-set__feat-item:not(:last-child) {
    margin-right: 30px;
  }
}

.container__svg-set {
  display: flex;
  flex-wrap: wrap;
}

.card-set__feat-item--antenna::before {
  background-size: 70px;
  background-image: url(../pictures/antenna.svg);
}

.card-set__feat-item--clock::before {
  background-size: 70px;
  background-image: url(../pictures/clock.svg);
}

.card-set__feat-item--diagram::before {
  background-size: 70px;
  background-image: url(../pictures/diagram.svg);
}

.card-set__feat-item--astronaut::before {
  background-size: 70px;
  background-image: url(../pictures/astronaut.svg);
}

@media screen and (max-width: 1199px) {
  .section__we-do {
    display: none;
  }
}

.container__main-title {
  margin-top: 0;
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .container__main-title {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .container__main-title {
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}

.card-set__we-do-item {
  position: relative;
  margin-right: 30px;
  flex-basis: calc(100% / 3 - 30px);
}

.card-set__we-do-subtitle {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  padding-top: 27px;
  padding-bottom: 27px;
  color: var(--main-bg-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.section--bgcolor {
  width: auto;
  background-color: var(--bg-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    display: flex;
  }
}

.team-list__item {
  display: inline-block;
  background: var(--main-bg-color);
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 767px) {
  .team-list__item {
    max-width: 450px;
  }
  .team-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list__item {
    flex-basis: calc((100% -30px) / 2);
    max-width: 354px;
    margin-bottom: 30px;
  }
  .team-list__item:nth-child(odd) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list__item {
    flex-basis: calc((100% -90px) / 4);
    max-width: 270px;
  }
  .team-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.team-list--card-text {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team-list__subtitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team-list__team-text {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.03em;
  align-items: center;
  color: var(--text-color);
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__item {
  width: 44px;
  height: 44px;
  border-color: transparent;
}

.social-list__item + .social-list__item {
  margin-left: 10px;
}

.social-list__link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  justify-content: center;
  transition: background-color 250ms var(--transition-bezier);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
  border-color: transparent;
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms var(--transition-bezier);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: var(--main-bg-color);
}

.clients-list {
  display: flex;
}

@media screen and (max-width: 767px) {
  .clients-list {
    margin-bottom: -30px;
  }
}

@media screen and (max-width: 1199px) {
  .clients-list {
    flex-wrap: wrap;
  }
}

.clients-list__item {
  width: 170px;
  height: 92px;
}

@media screen and (max-width: 767px) {
  .clients-list__item {
    flex-basis: calc((100% - 30px) / 2);
    margin-bottom: 30px;
  }
  .clients-list__item:nth-child(odd) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-list__item {
    flex-basis: calc((100% - 60px) / 3);
  }
  .clients-list__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .clients-list__item:nth-child(0n + 1) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__item + .clients-list__item {
    margin-left: 30px;
  }
}

.clients-list__link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 5px;
  justify-content: center;
  transition: border-color 250ms var(--transition-bezier);
}

.clients-list__link:hover, .clients-list__link:focus {
  border-color: var(--accent-color);
}

.clients-list__icon {
  display: inline-block;
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill 250ms var(--transition-bezier);
}

.clients-list__link:hover .clients-list__icon,
.clients-list__link:focus .clients-list__icon {
  fill: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--foot-bg-color);
}

@media screen and (max-width: 767px) {
  .container--foot-flex {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container--foot-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .container--foot-flex {
    justify-content: space-between;
    display: flex;
    align-items: baseline;
  }
}

.logo--foot {
  color: var(--main-bg-color);
}

.foot-contacts {
  margin-top: 20px;
}

.foot-contacts__item:not(:first-child) {
  margin-top: 9px;
}

@media screen and (max-width: 1199px) {
  .foot-contacts {
    margin-bottom: 60px;
  }
}

.foot-contacts__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.46;
  letter-spacing: 0.03em;
  font-style: normal;
  font-family: Roboto;
  color: var(--main-bg-color);
}

.foot-contacts__link--rgba {
  color: rgba(255, 255, 255, 0.6);
}

.join {
  margin-left: auto;
  margin-right: auto;
}

.join__title {
  color: var(--main-bg-color);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .join__title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .join {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }
}

@media screen and (max-width: 1199px) {
  .join {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .join {
    margin-left: 70px;
  }
}

.social-list__icon {
  width: 20px;
  height: 20px;
}

.social-list__link--join-us {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-list__link--join-us:hover,
.social-list__link--join-us .social-list__link--join-us:focus {
  background-color: var(--accent-color);
}

.social-list__icon--svg {
  fill: var(--main-bg-color);
}

@media screen and (min-width: 1200px) {
  .join__flex {
    display: flex;
  }
}

.join__mailing {
  height: 50px;
  padding: 10px;
  border-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: var(--main-bg-color);
}

.join__mailing::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  padding-left: 10px;
}

@media screen and (max-width: 767px) {
  .join__mailing {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .join__mailing {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .join__mailing {
    width: 358px;
  }
}

.btn__foot {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 25px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 0.06em;
  justify-content: center;
}

@media screen and (max-width: 1169px) {
  .btn__foot {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1170px) {
  .btn__foot {
    margin-left: 12px;
  }
}

.btn__mailing-icon {
  width: 24px;
  height: 24px;
  fill: var(--main-bg-color);
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--transition-bezier);
  overflow-y: scroll;
}

@media screen and (max-width: 767px) {
  .backdrop {
    padding: 90px 20px;
  }
}

.backdrop__is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  max-width: 450px;
  min-height: 581px;
  border-radius: 4px;
  background-color: var(--main-bg-color);
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.2), 1px 0px 1px rgba(0, 0, 0, 0.14), 3px 0px 1px rgba(0, 0, 0, 0.12);
  transition: opacity 250ms var(--transition-bezier), transform 250ms var(--transition-bezier);
}

@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    max-width: 528px;
  }
}

.form {
  position: relative;
  padding: 30px;
}

.form__button {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  padding: 5px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--main-bg-color);
}

.form__icon {
  width: 18px;
  height: 18px;
}

.form__button:hover .form__icon {
  fill: var(--accent-color);
}

.form__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
  justify-content: center;
  text-align: center;
}

.form__label {
  display: block;
  margin-bottom: 10px;
}

.form__input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  margin-top: 5px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px 12px 12px 42px;
  outline: none;
  cursor: pointer;
  transition: border-color 250ms var(--transition-bezier);
}

.form__input:focus {
  border-color: var(--accent-color);
}

.form--icon-position {
  position: relative;
}

.form__icon-input {
  position: absolute;
  left: 16px;
  top: 50%;
  width: 18px;
  height: 18px;
  transform: translateY(-50%);
  display: inline-block;
  fill: var(--main-color);
  transition: fill 250ms var(--transition-bezier);
}

.form__label:focus-within .form__icon-input {
  fill: var(--accent-color);
}

.form__text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.form__textarea {
  display: flex;
  padding: 12px 16px;
  margin-bottom: 20px;
  margin-top: 4px;
  height: 120px;
  width: 100%;
  resize: none;
  outline-color: var(--accent-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form__textarea::placeholder {
  font-size: 16px;
  color: rgba(117, 117, 117, 0.5);
}

.form__comment {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.check-box {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  min-width: 370px;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

@media screen and (min-width: 1199px) {
  .check-box {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.46;
    letter-spacing: 0.03em;
  }
}

.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--main-color);
  border-radius: 2px;
  transition: background-color 250ms var(--transition-bezier);
}

.checkbox__hidden:checked + .checkbox__icon {
  border-color: transparent;
  background-color: var(--accent-color);
  background-origin: border-box;
  background-size: contain;
}

.checkbox__hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.form__link {
  color: var(--accent-color);
  position: relative;
}

.form__link::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--accent-color);
}

.btn__agree {
  display: block;
  margin: 0 auto;
  padding: 10px 55px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 0.06em;
}

.btn-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.btn-list__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .btn-list {
    justify-content: center;
    margin-bottom: 50px;
  }
}

.btn-list__btn {
  display: inline-block;
  width: auto;
  height: auto;
  position: inherit;
  color: var(--main-color);
  background-color: var(--bg-color);
  border-radius: 4px;
  border-color: transparent;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  font-family: Roboto;
  padding: 6px 22px;
  text-align: center;
  transition: background-color 250ms var(--transition-bezier);
}

.btn-list__btn:hover, .btn-list__btn:focus {
  background-color: var(--accent-color);
  color: var(--main-bg-color);
  box-shadow: var(--btn-shadow);
}

@media screen and (max-width: 767px) {
  .btn-list__btn {
    margin-bottom: 15px;
  }
}

.container__portfolio {
  display: flex;
  padding-top: 0;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .container__portfolio {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .container__portfolio {
    padding-bottom: 94px;
  }
}

.port-list {
  width: 100%;
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .port-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.port-list__item {
  background-color: var(--main-bg-color);
  margin-bottom: 30px;
}

.port-list__item:hover, .port-list__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .port-list__item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .port-list__item {
    flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
  }
}

.port-thumb {
  position: relative;
  overflow: hidden;
}

.port-thumb__data {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}

.port-thumb__title {
  color: var(--main-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 1199px) {
  .port-thumb__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
  }
}

.port-thumb__text {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 63px 24px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-align: left;
  justify-content: center;
  color: var(--main-bg-color);
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms var(--transition-bezier), opacity 250ms var(--transition-bezier);
  transform: translateY(100%);
}

.port-list__item:hover .port-thumb__text,
.port-list__item:focus .port-thumb__text {
  opacity: 1;
  transform: translateY(0);
}

.port-thumb__subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/*# sourceMappingURL=main.css.map */