.hero {
  text-align: center;
  &__overlay {
    margin-left: auto;
    margin-right: auto;
    @include bg();
    background-color: #212121;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../pictures/hero-mob.jpg);
    @media (-webkit-min-device-pixel-ratio: 2),
      (-o-min-device-pixel-ratio: 2/1),
      (min-resolution: 2dppx) {
      background-image: url(../pictures/hero-mob@2x.png);
    }

    @media screen and (max-width: 767px) {
      max-width: 480px;
      height: 400px;
    }
    @media screen and (max-width: 1199px) {
      max-width: 768px;
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../pictures/hero-tablet.jpg);
      @media (-webkit-min-device-pixel-ratio: 2),
        (-o-min-device-pixel-ratio: 2/1),
        (min-resolution: 2dppx) {
        background-image: url(../pictures/hero-tablet@2x.jpg);
      }
    }
    @media screen and(min-width: 1200px) {
      padding: 200px 0;
      height: 600px;
      max-width: 1600px;
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../pictures/hero-base.jpg);
      @media (-webkit-min-device-pixel-ratio: 2),
        (-o-min-device-pixel-ratio: 2/1),
        (min-resolution: 2dppx) {
        background-image: url(../pictures/hero-base@2x.jpg);
      }
    }
  }
  &__title {
    margin: auto;

    text-align: center;
    text-transform: uppercase;
    color: var(--main-bg-color);

    @media screen and (max-width: 1199px) {
      max-width: 360px;
      @include font(26px, 900, 1.6, 0.06em);
    }
    @media screen and(min-width: 1200px) {
      max-width: 696px;
      @include font(44px, 900, 1.36, 0.06em);
    }
  }
  @media screen and (max-width: 1199px) {
    padding: 118px 0;
  }
  @media screen and(min-width: 1200px) {
    padding: 200px 0;
  }
}
