.modal {
  max-width: 450px;
  min-height: 581px;
  border-radius: 4px;

  background-color: var(--main-bg-color);
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.2), 1px 0px 1px rgba(0, 0, 0, 0.14),
    3px 0px 1px rgba(0, 0, 0, 0.12);

  transition: opacity 250ms var(--transition-bezier),
    transform 250ms var(--transition-bezier);
  @media screen and (min-width: 768px) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    max-width: 528px;
  }
}

.form {
  position: relative;
  padding: 30px;

  &__button {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 8px;
    right: 8px;
    padding: 5px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--main-bg-color);
  }
}

.form__icon {
  width: 18px;
  height: 18px;
  .form__button:hover & {
    fill: var(--accent-color);
  }
}
.form__title {
  @include font(20px, 700, 1.2);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
  justify-content: center;
  text-align: center;
}

.form__label {
  display: block;
  margin-bottom: 10px;
}
.form__input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  margin-top: 5px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px 12px 12px 42px;
  outline: none;
  cursor: pointer;
  transition: border-color 250ms var(--transition-bezier);

  &:focus {
    border-color: var(--accent-color);
  }
}
.form--icon-position {
  position: relative;
}
.form__icon-input {
  position: absolute;
  left: 16px;
  top: 50%;
  width: 18px;
  height: 18px;
  transform: translateY(-50%);
  display: inline-block;
  fill: var(--main-color);
  transition: fill 250ms var(--transition-bezier);

  .form__label:focus-within & {
    fill: var(--accent-color);
  }
}

.form__text {
  @include font(12px, 400, 1.16, 0.01em);
  color: var(--text-color);
}

.form__textarea {
  display: flex;
  padding: 12px 16px;
  margin-bottom: 20px;
  margin-top: 4px;
  height: 120px;
  width: 100%;
  resize: none;
  outline-color: var(--accent-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  &::placeholder {
    font-size: 16px;
    color: rgba(117, 117, 117, 0.5);
  }
}
.form__comment {
  @include font(12px, 400, 1.16, 0.01em);
  color: var(--text-color);
}
.check-box {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  min-width: 370px;
  @include font(11px, 400, 1.17, 0.03em);
  color: var(--text-color);
  @media screen and (min-width: 1199px) {
    @include font(14px, 400, 1.46, 0.03em);
  }
}
.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--main-color);
  border-radius: 2px;
  transition: background-color 250ms var(--transition-bezier);

  .checkbox__hidden:checked + & {
    border-color: transparent;
    background-color: var(--accent-color);
    background-origin: border-box;
    background-size: contain;
  }
}
.checkbox__hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.form__link {
  color: var(--accent-color);
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--accent-color);
  }
}

.btn__agree {
  display: block;
  margin: 0 auto;
  padding: 10px 55px;
  @include font(16px, 700, 1.6, 0.06em);
}
